body{
  background-color: #dcd8ff;
  display: flex;
  justify-content: center;
}

.inputImage{
    width: 5%;
    padding: 10px;
}

.inputForm{
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    width: 200px;
}

.inputForm svg{
  color: #dcd8ff;
}

.inputForm input{
  border: none;
}